@font-face {
    font-family: MulishBold;
    src: url(font/Mulish-ExtraBold.ttf);
}
@font-face {
    font-family: MulishBoldItalic;
    src: url(font/Mulish-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: MulishRegular;
    src: url(font/Mulish-Light.ttf);
}
@font-face {
  font-family: MulishLight;
  src: url(font/Mulish-VariableFont_wght.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: MulishRegular;
}
.nav {
    height: 125px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E9DDD4;
    position: relative;
}
.nav .nav-header {
    display: inline;
}
.nav .nav-header .nav-title a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 38px;
    color: #900020;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
}
.nav .nav-header .nav-title img {
    height: 55px;
}
.nav .nav-btn {
    display: none;
}
.nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}
.nav .nav-links a {
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    color: #900020;
    border-radius: 10px;
    background-color: none;
    transition: .8s;
}
.nav .nav-links a:hover {
    transition: .4s;
    background-color: #90002080;
    border-radius: 15px;
}
.nav #nav-check {
    display: none;
}
main {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section {
    background-color: #ffffff80;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    box-shadow: 0px 0px 15px #90002080;
}
section h2 {
    font-size: 30px;
    color: #900020;
    font-family: MulishBold;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
section h3 {
    font-size: 25px;
    color: #900020;
    font-family: MulishBold;
    letter-spacing: 2px;
}
section p {
    margin-bottom: 20px;
    font-size: 20px;
}
section iframe {
    min-width: 392px;
    height: 220.5px;
    border: 4px double #900020;
    border-radius: 25px;
}
#team-div {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.mentor {
    text-align: center;
    width: 150px;
    height: 250px;
}
.mentor:last-child {
    margin-right: 0;
}
.mentor img {
    width: 150px;
    padding-top: 10px;
    border: 3px solid #900020;
    border-radius: 50%;
}
section audio {
    min-width: 392px;
    border-radius: 25px;
    border: 4px double #900020;
}
.testimonial {
    margin-bottom: 20px;
}
.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}
.testimonial p em {
    font-style: normal;
}
.button {
    background-color: #900020;
    color: #E9DDD4;
    border: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.button:hover {
    background-color: #E9DDD4;
    color: #900020;
    letter-spacing: 2px;
}
form {
    width: 80%;
    min-width: 280px;
    margin: 20px auto;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #E9DDD4;
    border-radius: 6px;
    font-size: 16px;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #E9DDD4;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type=submit] {
    background-color: #900020;
    color: #E9DDD4;
    padding: 12px 20px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
}
input[type=submit]:hover {
    background-color: #A70024;
}
.error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}
footer {
    background-color: #212121;
    color: #E9DDD4;
    font-size: 14px;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
    margin: 0 auto;
}
.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
}
.footer-section h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-section li a {
    text-decoration: none;
    color: #E9DDD4;
}
#chinikabisa {
    text-align: center;
    padding-bottom: 10px;
}
@media (max-width:930px) {
    .nav {
        height: 70px;
    }
    .nav .nav-header .nav-title a {
        font-size: 30px;
    }
    .nav .nav-header .nav-title img {
        height: 35px;
    }
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn label {
        background-color: #9000204D;
    }
    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-bottom: 2px solid #900020;
    }
    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #E9DDD4;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        z-index: 99;
    }
    .nav .nav-links a {
        display: block;
        width: 100%;
    }
    .nav #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    main {
        width: 95%;
    }    
    section iframe {
        width: 100%;
        min-width: 245px;
        height: 200px;
        margin: 0 auto;
    }
    section audio {
        width: 100%;
        min-width: 245px;
        margin: 0 auto;
    }
    section h2 {
        text-align: center;
        font-size: 25px;
    }
    section h3 {
        text-align: center;
        font-size: 20px ;
    }
    section p {
        font-size: 17px;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer-section {
        flex-basis: 50%;
        text-align: center;
    }
}